@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans+Narrow&family=Poiret+One&display=swap');

:root {
    /* Font */
    font-size: 17px;

    /* Color */
    --white: white;
    --bg: #f7f8fd;
    --bg-dark: rgb(0, 64, 80);
    --bg-dark2: rgb(79, 80, 0);
    --txt: #394346e6;
    --txt-lt: var(--bg);
    --lt-border: rgba(167, 179, 192, 0.5);
    --hlt: rgb(0, 136, 170);
    --hlt-tp: rgba(0, 104, 170, 0.25);
    --hlt-tp-tp: rgba(0, 104, 170, 0.125);
    --hlt2: rgb(185, 182, 0);
    --hlt2-tp: rgba(167, 170, 0, .25);
    --hlt2-tp-tp: rgba(167, 170, 0, .125);
    --important: #eedb7245;
    --danger: #ee728645;
    --danger-opaque: #ee7286;

    /* Size */
    --app-body-max-height: calc(100vh - 80px - 59px);
    --app-body-section-max-height: 404px;
}

html, body {
    margin: 0; padding: 0;
}

body {
    background-color: var(--bg);
    color: var(--txt);
    font-family: 'Open Sans', sans-serif;
}

.app-content {
    display: flex; flex-flow: column nowrap;
    min-height: 100vh;
}

.app-header, 
.app-body, 
.app-footer {
    flex-grow: 0;
    padding: 1rem;
}

.app-body {
    flex-grow: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: normal; letter-spacing: 2px;
    color: var(--bg-dark);
    margin: 0; margin-bottom: .5rem;
}
h4, h5, h6 {
    text-decoration: underline;
}

a {
    text-decoration: underline;
    color: var(--hlt);
}
a:hover, a:focus {
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

code {
    font-weight: bold;
    background: var(--hlt-tp-tp);
    border-radius: .25em; padding: 0 .25rem;
}
pre.code {
    font-family: monospace;
    font-weight: normal;
    background: var(--hlt-tp-tp); border-radius: 2px;
    padding: .5em; font-size: .875rem;
    overflow: hidden;
    transform-origin: top;
    max-height: 0;
    -webkit-transition: all .5s cubic-bezier(0, 0.99, 0.54, 1);
    transition: all .5s cubic-bezier(0, 0.99, 0.54, 1);
}
pre.code[data-state="OPEN"] {
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
}

.code-header {
    display: flex; align-items: center;
}
.code-header > * { margin-bottom: 0; }
.code-header > button {
    background-color: transparent;
    border-radius: 99px; border: none;
    width: 2em; height: 2em; margin-left: .5rem;
    font-size: 1rem; cursor: pointer;
    transition: transform .2s ease-out;
}
.code-header > button:hover {
    background-color: var(--hlt-tp-tp);
}
.code-header > button:focus {
    background-color: var(--hlt-tp);
    outline: none;
}
.code-header > button:active {
    background-color: var(--hlt);
    color: var(--bg);
}

.fancy-btn {
    padding: .25rem .333em;
    border-radius: .25em;
    background-color: var(--hlt2-tp-tp);
    color: var(--hlt2);
    border: none; box-shadow: 0 0 0 .165em var(--hlt2-tp);
    font-weight: bold;
    transition: 1s ease;
    cursor: pointer;
}
.fancy-btn:hover,
.fancy-btn:focus {
    outline: none;
    background-color: var(--hlt2-tp);
    color: var(--white);
    box-shadow: 0 0 0 .333em var(--hlt2-tp-tp);
    transition-duration: .2s;
}

.toggle-btn {
    cursor: pointer;
    transition: transform .2s ease;
}

.alert {
    margin: .5rem 0; padding: .5em;
    border-left: 4px solid var(--lt-border); border-radius: 0 .25em .25em 0;
}
.alert-warning {
    background-color: var(--important);
    color: var(--bg-dark);
    border-left-color: var(--hlt2);
}
.alert-danger {
    background-color: var(--danger);
    color: var(--bg-dark);
    border-left-color: var(--danger-opaque);
}


::selection {
    background-color: var(--hlt);
    color: var(--bg);
}

::-webkit-scrollbar {
    background-color: var(--bg);
    width: .25rem; height: .25rem;
}
::-webkit-scrollbar-thumb {
    background-color: var(--bg-dark);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--hlt);
}
::-webkit-scrollbar-thumb:active {
    background-color: var(--hlt-tp);
}

/* butterflies */
#butterflies {
    pointer-events: none;
    position: fixed;
    top: 0; left: 0; height: 100%; width: 100%;
    filter: drop-shadow(0 4px 1px #0005);
}
.butterfly {
    display: flex; justify-content: center;
    position: absolute; top: 0; left: 0;
    font-size: 30px; border-radius: 50%;
    animation: fade 1s ease;
}
.butterfly .fa {
    display: inline-block; margin-top: -.5em;
}

/* app header */
.app-header {
    text-align: left;
    border-bottom: 1px solid var(--lt-border);
    background-color: var(--white);
}
.app-title {
    display: inline-block;
    text-align: center;
    font-size: 1rem; letter-spacing: initial !important;
    margin: 0; padding-right: .25em;
    transform: translateY(-.5em);
    position: relative;
    animation: raise .5s ease-out backwards 0s;
}
.app-title::after {
    content: '';
    position: absolute; display: block;
    top: calc(100% - .66em + 2px); left: 0; right: 0; height: .66rem;
    border-radius: 2px;
    background: linear-gradient(to bottom, transparent, var(--hlt2-tp) 50%, var(--hlt2-tp));
    border: 2px solid var(--hlt);
    border-top: none;
}
.app-title > .content { position: relative; z-index: 1; }
.app-title .lib-title {
    font-size: 2em;
    display: inline-block; position: relative;
    overflow: hidden; border-radius: 2px; padding: 0 .125em;
    animation: levitate .5s ease backwards .5s;
}
.app-title .lib-title::before {
    content: '';
    display: block; position: absolute;
    top: 0; right: 100%; height: 100%; width: 100%;
    background: linear-gradient(to right, transparent, #FFF7, transparent);
    animation: glimmer 3s ease 1s infinite;
}

.lib-title {
    font-family: 'Poiret One', cursive;
    font-size: 1.5em;
    font-style: normal;
    font-weight: bold;
    background-image: linear-gradient(to right, var(--hlt2), var(--hlt), var(--hlt2), var(--hlt), var(--hlt2));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* app body */
.app-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "playground api api";
    padding: 0;
    max-height: var(--app-body-max-height);
}
.app-body > * {
    padding: 1rem;
    max-height: var(--app-body-section-max-height);
    overflow: auto;
}
.app-body > section.playground {
    grid-area: playground;
    position: sticky; top: 0;
    border-right: 1px solid var(--lt-border);
}
.app-body > section.playground h2 {
    margin: 0; margin-bottom: .5rem;
}
.app-body > section.playground fieldset {
    padding: 0; padding-bottom: .33rem;
    margin: 0; margin-bottom: .5rem;
    border: none; border-bottom: 1px solid var(--lt-border);
}
.app-body > section.playground label {
    display: inline-block;
    background-color: var(--hlt2-tp-tp);
    padding: 0 .25rem; margin-bottom: .5rem;
    border-radius: .25rem;
}
.app-body > section.playground textarea {
    min-height: 2rem; height: 5rem;
    box-sizing: border-box; resize: vertical;
}
.app-body > section.playground textarea,
.app-body > section.playground input {
    padding: .5rem;  width: 100%;
    background: linear-gradient(to top, var(--hlt-tp-tp), var(--bg));
    border: 1px solid var(--hlt); border-radius: 2px;
    transition: .3s ease, height 0s;
}
.app-body > section.playground textarea:hover,
.app-body > section.playground input:hover {
    border-color: var(--bg-dark);
}
.app-body > section.playground textarea:focus,
.app-body > section.playground input:focus {
    outline: none;
    border-color: var(--bg-dark);
    box-shadow:
        0 0 .5rem 0 var(--hlt-tp-tp),
        0 0 1rem 0 var(--hlt-tp-tp),
        0 0 2rem 0 var(--hlt-tp-tp)
    ;
}
.app-body > section.playground textarea.error,
.app-body > section.playground input.error {
    background: linear-gradient(to top, var(--danger), var(--bg));
}
.app-body > section.playground .alert {
    position: relative;
    font-size: .75em;
    word-break: break-all;
}
.app-body > section.playground .alert .toggle-btn {
    position: absolute; top: -.333em; right: -.333em;
}

.app-body > section.playground fieldset.output {
    position: sticky; bottom: -1rem; margin: 0; padding: .5rem 0;
    background-color: var(--bg); color: var(--bg-dark2);
}

.app-body > section.api {
    grid-area: api;
}
.app-body > section.api .fancy-btn {
    font-size: 1.333rem;
}

/* app footer */
.app-footer {
    position: sticky; bottom: 0;
    background-color: var(--bg-dark);
    color: var(--txt-lt);
    display: flex;
    padding: .5rem 1rem;
}

.app-footer a:hover,
.app-footer a:focus {
    color: var(--bg);
}

.app-footer .links {
    flex-grow: 1;
    margin-right: 1rem;
}
.app-footer > .links > ul {
    list-style: none;
    margin: 0; padding: 0;
}

.app-footer > .links > ul .fa {
    font-size: 2.5rem;
}


@media screen and (max-width: 705px) {
    .app-body {
        grid-template-areas: "api api api" "playground playground playground";
        max-height: unset;
    }
    .app-body > * {
        max-height: unset;
    }
}


@keyframes levitate {
    from {
        transform: scale(.66) translateY(.5em);
    }
}

@keyframes raise {
    from {
        transform: translateY(.125em);
        opacity: 0;
    }
}

@keyframes glimmer {
    from {
        transform: translate(0%);
    } 40% {
        transform: translate(200%);
    } 40.000001% {
        transform: translate(0%);
    }
}

@keyframes fade {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
